# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

# name: Build And Deploy

# on:
#   push:
#     branches: ['main']

# jobs:
#   build:
#     runs-on: ubuntu-latest
#     steps:
#       - name: Checkout Repository
#         uses: actions/checkout@v3

#       - name: Setup pnpm
#         uses: pnpm/action-setup@v2.4.0
#         with:
#           version: 8.6.6

#       - name: Install Dependencies
#         run: pnpm i

#       - name: Build
#         run: pnpm build

#       - name: Run Serve
#         run: pnpm i -g serve && serve -s build

#   deploy:
#     runs-on: ubuntu-latest
#     needs: build
#     permissions:
#       contents: write

#     steps:
#       - name: Deploy to Github Pages

#         uses: peaceiris/actions-gh-pages@v3.9.3
#         with:
#           github_token: ${{ secrets.GITHUB_TOKEN }}
#           publish_dir: ./build # 替换为你的构建输出目录
